.vheight-100 {
    min-height: 100vh;
}

.below-nav {
    padding-top: 6rem;
}

.below-nav-center {
    padding-top: 10rem;
}


.list-group-item-action:hover {
    background-color: #9becae;
}



/* Add new question button */
.fixed-right-bottom-circular {
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 90%;
    margin: 0 1.5rem 1.5rem 0;
}

span{
    cursor: pointer; 
    padding-left: auto;
}

.btn-form {
    margin: 0  1rem 1rem 0;
}

/* login form group */
.login-form {
    margin-top: 35px;
    margin-bottom: 35px;
}

.survey-row {
    border: solid 2px orange !important;
    width: 84%;
    padding-top: 18px;
    border-radius: 5px;
    margin: 1em;
    margin-left: 8%; 
}

.link-text {
    color: white;
    padding-right: 10px;
}

h1{
    padding-left: 20px;
}



/* --- survey ---*/
.survey-form {
    margin-left: 20%;
    margin-right:20%;
    width: 60%;
}

.survey-title{ 
  font-size: 30px;
  width: 600px;
  height: 70px;
  border: 0 !important;
  outline-width: 0 !important;
  background-color: white !important;
}

.survey-header{
    border-top: solid 7px orange;
    margin-bottom: 10px;

}


.question {
    border: solid 1px #d0d0d0  !important;
    padding: .5em .8em .5em .5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.questions {
  width: 640px;
  margin-top: 10px;

}

.round-border{
  border-radius: 12px !important;
}

/* avoid resizing text area in open-ended 
questions */
textarea{
    resize: none;
}

/* comment to get blue light over input form back*/
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none !important;

}

/* slideshow arrows */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


.invalid {
    border-color: red !important;
}

span.error-msg {
    color: red;
}

.tooltip {
    width: 100px;
}

